# Pandas Assignmenet 3(B)

# Introduction:
The data have been modified to contain some missing values, identified by NaN.
Using pandas should make this exercise easier, in particular for the bonus question.

You should be able to perform all of these operations without using a for loop or other looping construct.

1. The data in 'wind.data' has the following format:

In [ ]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

Each line corresponds to one day of data in the following format: year, month, day, average wind speed at each of the stations in the order given

RPT, VAL, ROS, KIL, SHA, BIR, DUB, CLA, MUL, CLO, BEL, MAL

### Step 1. Import the necessary libraries

In [22]:
import pandas as pd
import numpy as np
import math
import datetime

### Step 2. Import the dataset from this address

In [12]:
df = pd.read_csv('Data (2).csv', sep='\s+', parse_dates= [[0,1,2]])
df.tail(50)

C:\Users\itcob\AppData\Local\Temp\ipykernel_19380\610749768.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv('Data (2).csv', sep='\s+', parse_dates= [[0,1,2]])

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
6524,1978-11-12,20.41,18.88,14.17,10.41,15.50,10.08,14.96,13.50,14.25,15.59,22.63,29.04
6525,1978-11-13,18.79,17.96,14.62,7.21,12.29,10.29,16.50,12.50,13.42,14.54,23.79,24.33
6526,1978-11-14,30.21,27.63,25.46,16.96,19.21,14.04,17.54,16.29,13.96,13.62,20.58,27.42
6527,1978-11-15,23.67,23.45,20.08,15.96,20.83,16.00,20.12,18.12,18.29,18.08,21.09,25.37
6528,1978-11-16,17.58,18.12,14.54,9.21,17.88,11.21,17.67,12.29,14.12,12.25,23.58,26.67
6529,1978-11-17,23.21,21.37,19.04,11.21,13.21,13.88,17.58,14.00,14.96,14.54,21.25,24.92
6530,1978-11-18,16.79,12.79,18.38,7.41,8.25,7.67,12.08,10.00,11.04,12.75,16.00,17.88
6531,1978-11-19,13.88,11.67,8.79,4.96,7.87,5.37,11.08,7.21,7.29,6.92,16.21,20.75
6532,1978-11-20,16.46,17.71,13.88,7.33,13.62,9.75,16.08,10.63,12.46,11.96,21.09,23.50
6533,1978-11-21,17.75,16.83,16.71,7.29,13.92,9.25,14.67,11.08,13.29,12.21,20.46,22.13
6534,1978-11-22,17.58,16.38,16.17,7.00,13.37,11.50,16.71,12.17,15.04,14.29,19.08,26.34
6535,1978-11-23,23.16,13.96,18.25,9.83,8.87,7.33,12.25,5.21,9.29,5.58,7.54,13.13
6536,1978-11-24,14.83,9.92,10.34,4.21,7.41,3.75,7.17,4.12,5.66,5.71,12.87,13.59
6537,1978-11-25,16.17,14.67,11.54,7.04,8.96,6.96,14.62,6.71,10.79,9.29,16.83,26.67
6538,1978-11-26,9.54,8.33,7.92,1.83,6.92,3.29,8.08,3.08,3.46,3.37,8.58,11.08
6539,1978-11-27,9.08,6.50,8.21,1.67,6.71,1.00,2.33,2.04,1.29,3.29,7.04,13.42
6540,1978-11-28,9.46,7.25,8.38,0.96,6.50,3.75,1.96,4.75,4.71,4.12,9.00,11.83
6541,1978-11-29,14.46,10.00,10.17,3.33,9.59,8.83,4.38,5.75,10.41,9.13,13.13,22.95
6542,1978-11-30,15.34,4.54,14.75,3.50,4.54,4.96,7.50,2.42,4.96,3.75,4.92,11.50
6543,1978-12-01,21.29,16.29,24.04,12.79,18.21,19.29,21.54,17.21,16.71,17.83,17.75,25.70
6544,1978-12-02,13.70,12.71,14.29,5.13,9.21,8.04,12.33,6.34,9.21,11.21,9.59,19.95
6545,1978-12-03,21.21,21.34,17.75,11.58,16.75,14.46,17.46,15.29,15.79,17.50,21.42,25.75
6546,1978-12-04,9.92,13.50,7.21,1.71,11.00,7.50,8.38,7.46,10.79,10.21,17.88,17.96
6547,1978-12-05,22.75,20.17,18.58,8.50,15.96,14.29,13.92,12.92,12.96,12.29,17.08,19.83
6548,1978-12-06,29.33,23.87,25.37,16.04,24.46,19.50,24.54,18.58,21.00,20.58,21.67,34.46
6549,1978-12-07,26.63,24.79,24.79,18.16,23.13,19.58,19.92,19.04,19.75,21.50,23.04,34.59
6550,1978-12-08,12.92,12.54,11.25,3.37,6.50,5.96,10.34,6.17,6.63,6.75,9.54,17.33
6551,1978-12-09,18.71,16.92,15.50,6.04,10.37,9.59,10.75,9.13,9.75,11.08,14.33,15.34
6552,1978-12-10,24.92,22.54,16.54,14.62,15.59,13.00,13.21,14.12,16.21,16.17,26.08,21.92
6553,1978-12-11,20.25,19.17,17.83,11.63,17.79,13.37,14.83,13.88,15.54,16.29,18.34,22.83
6554,1978-12-12,23.13,18.63,18.05,8.29,14.33,11.04,10.54,10.13,11.42,10.50,11.25,13.50
6555,1978-12-13,18.84,24.04,14.37,8.33,18.12,12.17,13.00,13.75,14.17,15.09,21.50,21.37
6556,1978-12-14,17.21,19.75,12.71,5.83,13.79,7.33,8.83,5.71,7.96,3.37,5.21,6.92
6557,1978-12-15,13.13,8.92,16.54,6.92,6.00,4.00,12.67,5.88,7.67,6.08,5.50,17.16
6558,1978-12-16,14.88,9.13,17.37,5.21,6.71,2.46,9.13,4.96,6.13,5.96,10.92,18.08
6559,1978-12-17,9.87,3.21,8.04,2.21,3.04,0.54,2.46,1.46,1.29,2.67,5.00,9.08
6560,1978-12-18,9.83,10.88,8.50,1.00,9.08,6.00,2.42,8.25,4.42,5.88,19.79,19.79
6561,1978-12-19,13.88,11.42,10.13,2.33,8.12,6.75,4.75,5.88,6.21,8.17,8.33,18.25
6562,1978-12-20,9.92,3.63,12.38,3.08,3.50,0.42,4.54,2.50,2.13,4.71,3.21,10.29
6563,1978-12-21,12.96,3.83,13.79,4.79,7.12,6.54,11.67,9.25,8.67,9.00,11.25,20.30
6564,1978-12-22,6.21,7.38,13.08,2.54,7.58,5.33,2.46,8.38,5.09,5.04,9.92,11.00
6565,1978-12-23,16.62,13.29,22.21,9.50,14.29,13.08,16.50,17.16,12.71,12.00,18.50,21.50
6566,1978-12-24,8.67,5.63,12.12,4.79,5.09,5.91,12.25,9.25,10.83,11.71,11.92,31.71
6567,1978-12-25,7.21,6.58,7.83,2.67,4.79,4.58,8.71,0.75,5.21,5.25,1.21,13.96
6568,1978-12-26,13.83,11.87,10.34,2.37,6.96,4.29,1.96,3.79,3.04,3.08,4.79,11.96
6569,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [13]:
data = df
data.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [56]:
# The problem is that the dates are 2061 and so on...

# function that uses datetime
def fix_century(x):
    year = x.year - 100 
    if x.year > 1989:
        datetime.now().year
    else:
        x.year
    return datetime.date(year, x.month, x.day)

# apply the function fix_century on the column and replace the values to the right ones
data['Yr_Mo_Dy'] = data['Yr_Mo_Dy'].apply(fix_century)

# data.info()
data.head()

KeyError: 'Yr_Mo_Dy'

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [42]:
# transform Yr_Mo_Dy it to date type datetime64
data["Yr_Mo_Dy"] = pd.to_datetime(data["Yr_Mo_Dy"])

# set 'Yr_Mo_Dy' as the index
data = data.set_index('Yr_Mo_Dy')

data.head()
# data.info()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [43]:
data.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [57]:
data.notnull().sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [58]:
data.sum().sum() / data.notna().sum().sum()

10.227883764282181

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days

#### A different set of numbers for each location.

In [59]:
data.describe()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
count,6568.000000,6571.000000,6572.000000,6569.000000,6572.000000,6574.000000,6571.000000,6572.000000,6571.000000,6573.000000,6574.000000,6570.000000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
25%,8.120000,6.670000,8.000000,3.580000,6.750000,4.000000,6.000000,5.090000,5.370000,5.330000,8.710000,10.710000
50%,11.710000,10.170000,10.920000,5.750000,9.960000,6.830000,9.210000,8.080000,8.170000,8.290000,12.500000,15.000000
75%,15.920000,14.040000,14.670000,8.420000,13.540000,9.670000,12.960000,11.420000,11.190000,11.630000,16.880000,19.830000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [61]:
day_stat = pd.DataFrame()
day_stat['min'] = data.min(axis =1)
day_stat['max'] = data.max(axis =1)
day_stat['mean'] = data.mean(axis =1)
day_stat.head()

             min    max       mean
Yr_Mo_Dy
2061-01-01  9.29  18.50  13.018182
2061-01-02  6.50  17.54  11.336364
2061-01-03  6.17  18.50  11.641818
2061-01-04  1.79  11.75   6.619167
2061-01-05  6.17  13.33  10.630000

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

### Step 12. Downsample the record to a yearly frequency for each location.

### Step 13. Downsample the record to a monthly frequency for each location.

### Step 14. Downsample the record to a weekly frequency for each location.

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.